// Pour generer le fichier CSS qui est dans css/mystyles.css:
//
// sass --no-source-map sass/mystyles.scss:css/mystyles.css

@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Crimson+Text|PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Sarabun');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$green-dark: #175517;
$green: #036249;
$green-sub: #059C75;
$grey: #484B4B;
$green-red1: #5EC95F;

// Update Bulma's global variables
// $family-sans-serif: "PT Sans", sans-serif;
$family-sans-serif: "Sarabun", sans-serif;
// $family-secondary: "Crimson Text", serif;
$grey-dark: $grey;
$primary: $green-red1;  // $purple;
$info: $brown;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
// $title-color: $green;
// $subtitle-color: $green-sub;

#skills .tag {
    @extend .tag;
    border: solid 1px $pink;
  }  

// Pour retirer la marge et les bords rond de la classe box
$box-padding: 0;
$box-radius: 0;

// Applique la couleur de hr
$hr-background-color: $primary;

// Pour appliquer une plus grande police par defaut 
$body-size: 18px;

$footer-padding: 0;

@import "../bulma-0.7.2/sass/utilities/_all.sass";

// Update some of Bulma's component variables
$body-background-color: $white-ter;
$footer-background-color: $white-ter; 
$footer-padding: 0;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../bulma-0.7.2/bulma.sass";


// Import only what you need from Bulma
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/form.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";